@{
    ViewBag.Title = "Home Page";
}

<div class="form-group">
    <label>Informe o nome do personagem</label>
    <input type="text" name="name" class="form-control" placeholder="Spider-man, Iron Man, Black Widow..."/>    
</div>